body {
    width: 100vw;
    background: #333333;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: Lato;

    main {

        section {

            background: #222222;
            border-radius: 1em;
            width: 80vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            margin: 2em;
            padding: 2em;

        }
    }

    .player-stats{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-size: 3em;
        text-align: center;

    }
}