body {
    width: 100vw;
    background: #333333;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-family: Lato;

    main {

        section {

            background: #222222;
            border-radius: 1em;
            width: 80vw;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            flex-direction: column;
            margin: 2em;
            padding: 2em;

        }
    }

    .player-stats{

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        width: 100%;

        &__player_name {
            font-size: 3em;
            text-align: center;
        }

        &__versus {
            font-size: 4em;
            font-style: italic;
            text-align: center;
        }

        &__sets {
            font-size: 1.5em;
            text-align: center;
        }

    }
}